:root {
  --color-primary: #c3f2f8;
  --color-secondary: #ff61cf;
  --color-foreground: #fefefe;
  --color-background: #f4f4f4;
  --color-border: #939393;
  --color-text-dark: #303030;
  --color-text-light: #fefefe;
}
