.headerHeroWrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("images/backgrounds/repeating-triangles.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.headerText {
  display: block;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.subHeaderText {
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
  width: 35%;
}

.swipeAnimation {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1200px) {
  .subHeaderText {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .headerText {
    font-size: 3.5em;
  }
  .subHeaderText {
    width: 60%;
    font-size: 1.25em;
  }
}

@media (max-width: 600px) {
  .subHeaderText {
    width: 60%;
    font-size: 1.125em;
  }
  .swipeAnimation {
    height: 5em;
    aspect-ratio: 1/1;
  }
}
@media (max-width: 500px) {
  .subHeaderText {
    width: 60%;
    font-size: 1.125em;
  }
  .swipeAnimation {
    bottom: 5em;
  }
}
