@import "@CssVariables/colors.css";
.aboutMeWrapper {
  position: relative;
  width: 80%;
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aboutMeTextSection {
  width: 80%;
  padding: 0 10% 0 0;
}

.aboutMeParagraph {
  margin-bottom: 3em;
  font-size: 1em;
  line-height: 1.6em;
  color: var(--color-text-dark);
}

.aboutMeBioSection {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
}

.aboutMeImage {
  width: 80%;
  border-radius: 1em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.aboutMeSocialsBlockWrapper {
  margin-top: 1em;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.TechnologiesArticle {
  width: 65em;
  margin: 0 auto;
  padding-bottom: 2em;
}
.technologiesTitle {
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 0.5em;
  color: var(--color-text-dark);
}
.technologiesWrapper {
  width: 100%;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* display: flex; */
  /* flex-wrap: wrap; /* Allows items to wrap to the next line */
  /* gap: 1em; /* Adds spacing between items */
}

@media (max-width: 1200px) {
  .TechnologiesArticle {
    width: 41em;
  }
}

@media (max-width: 1000px) {
  .aboutMeImage {
    width: 100%;
  }
  .aboutMeSocialsBlockWrapper {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .aboutMeParagraph {
    font-size: 0.75em;
  }

  .TechnologiesArticle {
    width: 27em;
  }
  .technologiesWrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .aboutMeWrapper {
    flex-direction: column;
  }
  .aboutMeTextSection {
    width: 100%;
    order: 2;
    padding: 0;
  }
  .aboutMeBioSection {
    width: 30%;
    order: 1;
    margin: 0 auto;
    padding-bottom: 1em;
  }
}

@media (max-width: 600px) {
  .TechnologiesArticle {
    width: 20em;
  }
  .technologiesWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .aboutMeBioSection {
    width: 50%;
  }
}

@media (max-width: 390px) {
  .TechnologiesArticle {
    width: 13em;
  }
  .technologiesWrapper {
    grid-template-columns: 1fr 1fr;
  }
}
