@import "../../../assets/CssVariables/colors.css";
.headerWrapper {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 7.5%;
  padding: 1em;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerWrapperScrolled {
  background: var(--color-foreground);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.125);
}

.headerNavSection {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
}

.headerLogoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1em;
}

.headerLogo {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.125);
}

a {
  text-decoration: none;
  color: var(--color-text-dark);
  color: inherit;
}

.headerNavItem {
  margin: 0 1.5em;
  font-size: 1.5em;
  font-weight: normal;
  cursor: pointer;
}

.headerLanguageSection {
  margin-left: 1em;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pullTabWrapper {
  position: fixed;
  background: var(--color-foreground);
  padding: 0.25em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
  border-radius: 0.5em;
}

.pullTabWrapper:hover {
  cursor: pointer;
}

.headerNavSectionMobile {
  background: var(--color-foreground);
  position: fixed;
  top: 7.5%;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.125);
}

.headerNavItemMobile {
  padding: 0.5em 1.5em;
  font-size: 1.5em;
  font-weight: normal;
  border-bottom: 0.05em solid var(--color-border-light);
  cursor: pointer;
  text-align: right;
}

/* media for responsive header */
/* styling for language switcher below */
@media (max-width: 1000px) {
  .headerNavItem {
    margin: 0 1em;
    font-size: 1.5em;
  }

  .headerLanguageSection {
    left: 1em;
  }
}

@media (max-width: 900px) {
  .headerNavSection {
    width: 80%;
  }
}

@media (max-width: 850px) {
  .headerNavItem {
    margin: 0 1.5em;
    font-size: 1.25em;
  }
}

@media (max-width: 750px) {
  .headerNavItem {
    margin: 0 1em;
    font-size: 1.125em;
  }
}

@media (max-width: 600px) {
  .headerWrapperScrolled {
    box-shadow: none;
    border-bottom: 0.09em solid var(--color-border-light);
  }
}

/* language switcher */
.switch {
  height: 60%;
  aspect-ratio: 18 / 10;
  margin: 0 1em;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  border-radius: 50px;
  padding: 2px;
  cursor: pointer;
  border: 1px solid black;
}

.switch[data-ison="true"] {
  justify-content: flex-end;
}

.handle {
  height: 100%;
  aspect-ratio: 1;
  background-color: var(--color-secondary);
  border-radius: 40px;
}
