* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}
html,
body,
#root {
  min-height: 100%;
  min-width: 100%;
  scroll-behavior: smooth;
}

main {
  min-height: 100vh;
}
