:root {
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Very scuffed solution for scroll to about me section not showing in the right place */
.idWrapper {
  height: 1em;
  width: 1em;
  position: absolute;
  top: -14em;
}
